<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <table class="table">
                        <tr>
                            <th>Groups</th>
                        </tr>
                        {% for group in groups %}
                            <tr>
                                <td>{{group.name}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                     <table class="table">
                        <tr>
                            <th>Students</th>
                        </tr>
                        {% for student in students %}
                            <tr>
                                <td>{{student.name}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>

